<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeoEdit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GeoEdit.Properties.Settings>
            <setting name="CustomProductID" serializeAs="String">
                <value>Part #</value>
            </setting>
            <setting name="CustomDrawingNote" serializeAs="String">
                <value>Next Op</value>
            </setting>
            <setting name="CustomCustomerNum" serializeAs="String">
                <value>Weld Station</value>
            </setting>
        </GeoEdit.Properties.Settings>
    </userSettings>
</configuration>